 <section class="home">
   <div class="sec  d-flex justify-content-center align-items-center text-white pt-4 vh-75">
      <img src=" ./assets/images/avataaars.svg" alt="" class="mt-5 ms-3 pt-lg-5 ">
   </div>
   <div class=" text-center">
      <h2 class="text-uppercase mt-1 fs-1 fw-bolder text-white">start Framework</h2>
      <div class="d-flex justify-content-center mt-2"> 
      <div class="line me-3 mt-2" style="background-color: white;"></div>
      <i class="fa-solid fa-star mb-5 fs-5 text-white"></i>
      <div class="line ms-3 mt-2" style="background-color: white;"></div>
      </div>
      <div class="text-white fw-medium">Graphic Artist - Web Designer - Illustrator</div>

   </div>
   <br>
   <br>
   <br>
   <br>
 </section>

  